.profile-container{
    width: 20%;
    height: 100vh;
    background: var(--dark1);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    flex-direction: column;
    text-align: center;
}

.user-info{
    width: 100%;
    height: auto;
    padding: 10px;
}

.user-info img{
    width: 150px;
    padding: 10px;
    border-radius: 50%;
    background: var(--dark2);
    margin-bottom: 20px;
}

.user-info h4{
    font-weight: 600;
}

.user-info .type{
    color: var(--light3);
    font-size: 12px;
}

.action{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.action .icon{
    padding: 10px;
    font-size: 45px;
    border-radius: 50%;
    background: var(--yel2);
    color: var(--yel1);
    margin: 10px auto;
    transform: scale(.75);
    transition: .2s ease;
    cursor: pointer;
}

.action .icon:hover{
    transform: scale(.85);
    transition: .2s ease;
}

.edit-container{
    width: 60%;
    height: auto;
    background: var(--dark1);
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0px;
    flex-direction: column;
    text-align: center;
}

.edit-container .head{
    width: 100%;
    height: auto;
    padding: 10px;
}

.edit-container .bx{
    width: 100%;
    height: auto;
    padding: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}

.edit-container .bx label{
    color:#777;
}

.edit-container .bx .input{
    width: 100%;
    height: auto;
    padding: 10px 20px;
    background: var(--dark2);
    border: none;
    outline: none;
    color: var(--light1);
}

.edit-container .bx small{
    color:var(--light2);
}

.edit-container .action{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.edit-container .action .btn{
    padding: 10px 20px;
    border: none;
    outline: none;
}

.edit-container .action .cancel{
    background: var(--red2);
    color: var(--red1);
}


.edit-container .action .save{
    background: var(--yel2);
    color: var(--yel1);
    opacity: .5;
}


.edit-container .action .save:hover{
    opacity:1;
}