.collab-head{
    width:100%;
    height:auto;
}

.collab-head .collab{
    padding:10px 25px;
    background: var(--gr1);
    color: var(--dark1);
    font-weight: 600;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.collab-head .collab .icon{
    font-size: 30px;
    padding: 4px;
}
.meeting-info{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.meeting-info .icon{
    font-size:60px;
    padding: 0px;
    color: var(--gr1);
    font-weight: 700;
}
.meeting-info h2{
    font-size: 20px;
}
.meeting-info .link{
    color: var(--gr1);
}

.meeting-info .btn{
    padding: 10px 25px;
    background: var(--dark1);
    border: none;
    outline: none;
    margin-bottom: 20px;
    color: var(--gr1);
    border: 1px solid var(--gr2);
}

.spinner{
    padding: 15px;
    border-bottom: 5px solid var(--gr1);
    border-top: 5px solid var(--gr2);
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    animation: spin .2s linear infinite;
    border-radius: 50%;

}

@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    0%{
        transform: rotate(360deg);
    }
}