@import url("./bootstrap.css");

@font-face {
    font-family: Poppins;
    src: url("./Poppins-Regular.ttf");
}

:root{

    --dark1:#06141D ;
    --dark2:#1B2730 ;
    --dark3:#28343E;
    --light1:#FFFFFF;
    --light2:#E9E9E9;
    --light3:#ccc;
    --gr1:#04f8af;
    --gr2:rgb(18, 219, 159, .4);
    --red1:#ff0000;
    --red2:rgb(255, 0, 0,.4);
    --yel1:rgb(255, 217, 0);
    --yel2:rgb(255, 217, 0,.4);
    --poppin: Poppins;
}

html{
    scroll-behavior: smooth;
    font-family:Poppins;
}

body{
    background: var(--dark1);
    position: relative;
    left: 0px;
    top: 0px;
    color: var(--light2);
    overflow-x: hidden;
    overflow-y: hidden;
    font-family:Poppins;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: var(--light1);
}