.notfound{
    width: 100%;
    height: 100vh;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--dark1);
    color: var(--light3);
    flex-direction: column;
}

.notfound .btn{
    background: var(--gr2);
    color: var(--gr1);
}